.victory-attack {
    display: block;
    width: 100vw;
    height: 80px;
    background-color: red;
    color: white;
    margin-bottom: 20px;
    font-family: 'Baloo Bhaina';
    text-align: center;
    font-size: 30px;
    line-height: 80px; 
}

.victory-defend {
    display: block;
    width: 100vw;
    height: 80px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    font-family: 'Baloo Bhaina';
    text-align: center;
    font-size: 30px;
    line-height: 80px; 
}

.victory-oot {
    display: block;
    width: 100vw;
    height: 80px;
    background-color: #444444;
    color: white;
    margin-bottom: 20px;
    font-family: 'Baloo Bhaina';
    text-align: center;
    font-size: 30px;
    line-height: 80px; 
}